
.container {
	height: 100%;
}


.container__form {
    margin-top: 105px;
	height: 100px;
    display: flex;
	justify-content: center;
}

.todo-form {
    margin-top: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: white;
	border-radius: 10px;
	padding: 10px;
}

.todo-form__input {
    margin:10px;
	outline: none;
	padding: 5px 10px;
	border: 1px solid gray;
	border-radius: 10px;
}

.todo-form__button {
	border: none;
	background-color: black;
	color: white;
	border-radius: 10px;
	padding: 5px;
}

.todo-form__button:focus {
	outline: none;
}

.todo-form__button:hover {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}




